.container {
    width: 50vw;
    height: 100%;
    margin-right: 10px;
    display: flex;
    position: relative;
    align-items: center;
    margin-bottom: 5px;
}

.input  {
    width: 70%;
    height: 60%;
    font-size: 1rem;
    background-color: transparent;
    padding-left: 10px;
    border: none;
    border-bottom: 1px solid white;
}
.input::placeholder{
    color: white;

}
.input:focus{
    background-color: white;
}
.input:focus::placeholder {
    color: black;
}

.button {
    width: 30%;
    height: 60%;
    font-size: 0.8rem;
    font-weight: bold;
    margin: 0;
    padding: 0;
    background-color: #7e8dcb;
    color: white;
    cursor: pointer;
}
.button:hover {
    background-color: #120907;
}
button:active{
    background-color: red;
}

@media screen and (max-width: 750px){
    .container{
        width: 50%;
    }
}


@media screen and (max-width: 500px){
    .container{
        width: 80%;
    }
}